<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>literale to look up to when validating a session</description>
        <param-name>loggedSession</param-name>
        <param-value>logged</param-value>
    </context-param>
    <context-param>
        <description>filename for the mainpage</description>
        <param-name>loggedMainPage</param-name>
        <param-value>mainPage.jsp</param-value>
    </context-param>
    <context-param>
        <description>MainPage</description>
        <param-name>mainPage</param-name>
        <param-value>index.jsp</param-value>
    </context-param>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>loginServlet</servlet-class>
        <init-param>
            <description>host on which runs the rmiregistry</description>
            <param-name>rmiregistry_host</param-name>
            <param-value>127.0.0.1</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>tabelloneServlet</servlet-name>
        <servlet-class>tabelloneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proiezioneServlet</servlet-name>
        <servlet-class>proiezioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>visualizzaPosti</servlet-name>
        <servlet-class>visualizzaPosti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prenotaPosti</servlet-name>
        <servlet-class>prenotaPosti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tabelloneServlet</servlet-name>
        <url-pattern>/tabelloneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proiezioneServlet</servlet-name>
        <url-pattern>/proiezioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>visualizzaPosti</servlet-name>
        <url-pattern>/visualizzaPosti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prenotaPosti</servlet-name>
        <url-pattern>/prenotaPosti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/error.jsp</location>
    </error-page>
    </web-app>
